<html>
<head>
    <meta http-equiv="Content-Type"content="text/html"/>
    <title>Show Album</title>
</head>
<body>

{% with details|first as first_doc %}

<h1>{{first_doc.albumName}}</h1>

{% endwith %}

{% if pic %}

<img src="{{ pic.picAddress }}" />

{% with details|first as first_doc %}
<ul>
    <li><a href="{% url 'showArtistPage' inputID=each.artistID %}">{{each.artistName}}</a></li>
    <li>albumLan of this album: <br><i>{{first_doc.albumLan}}</i></li>
    <li>recordLabel of this album: <br><i>{{first_doc.recordLabel}}</i></li>
    <li>releaseDate of this album: <br><i>{{first_doc.releaseDate}}</i></li>
    <li>albumCategory of this album: <br><i>{{first_doc.albumCategory}}</i></li>
    <li>star of this album: <br><i>{{first_doc.star}}</i></li>
    <li>myCmt of this album: <br><i>{{first_doc.myCmt}}</i></li>
    <li>Listen Date of this album: <br><i>{{first_doc.listenDate}}</i></li>
</ul>
{% endwith %}

{% for each in details %}
<ul>
    <a href="{% url 'showGenrePage' inputID=each.genreID %}">{{each.genreName}}</a>
</ul>
{% endfor %}

<ul>
    <li>Info of this album: <br><i>{{info.albumInfo}}</i></li>
</ul>

{% for each in list %}
<ul>
    <li>
        <a href="{% url 'showSongPage' inputID=each.songID %}">{{each.songName}}</a>
    </li>
    <li>star : {{each.star}}</li>
    <li>mycmt : {{each.myCmt}}</li>
</ul>
{% endfor %}

<ul>
    <li>Comment: <br><i>{{ cmt.comment }}</i></li>
    <li>Comment Date: <br><i>{{ cmt.cmtTime }}</i></li>
    <li>Comment Like: <br><i>{{ cmt.numLike }}</i></li>
    <li>Comment User Name: <br><i>{{ cmt.userName }}</i></li>
</ul>


{% else %}
    <p>There is no such a song in our database.</p>
{% endif %}

</body>
</html>