<html>
<head>
    <meta http-equiv="Content-Type"content="text/html"/>
    <title>Show Artist</title>
</head>
<body>

{% with details|first as first_doc %}

<h1>{{first_doc.artistName}}</h1>

{% endwith %}

{% if pic %}

<img src="{{ pic.picAddress }}" />

{% with details|first as first_doc %}

<h4>{{first_doc.artistReign}}</h4>

{% endwith %}

{% for each in details %}
<ul>
    <a href="{% url 'showGenrePage' inputID=each.genreID %}">{{each.genreName}}</a>
</ul>
{% endfor %}

<ul>
    <li>Info of this artist: <br><i>{{info.artistInfo}}</i></li>
</ul>

{% for each in list %}
<ul>
    <li>
        <a href="{% url 'showAlbumPage' inputID=each.albumID %}">{{each.albumName}}</a>
    </li>
    <li>Realease Date : {{each.releaseDate}}</li>
    <li>category : {{each.albumCategory}}</li>
    <li>star : {{each.star}}</li>
    <li>mycmt : {{each.myCmt}}</li>
</ul>
{% endfor %}

<ul>
    <li>Comment: <br><i>{{ cmt.comment }}</i></li>
    <li>Comment Date: <br><i>{{ cmt.cmtTime }}</i></li>
    <li>Comment Like: <br><i>{{ cmt.numLike }}</i></li>
    <li>Comment User Name: <br><i>{{ cmt.userName }}</i></li>
</ul>


{% else %}
    <p>There is no such a song in our database.</p>
{% endif %}

</body>
</html>