
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'xiamiu/style.css' %}">

<html>
<head>
    <meta http-equiv="Content-Type"content="text/html"/>
    <title>XIAMIU</title>
</head>
<body>

<br>
<br>
<br>
<br>

<h1>
    <p style="text-align:center" > Welcome to Musical Database System</p>

</h1>

<a href="https://act.xiami.com/wow/z/xiami/xiami/xiamiloveu?wh_biz=tm" target="_blank">
    <img src="//pic.xiami.net/images/common/uploadpic/19/1609812778719.jpg">
</a>

<h3 style="text-align:center">
    <li><a href="{% url 'search' %} ">Search</a></li>
</h3>
<br>

<!--<h3 style="text-align:center">-->
<!--    <li><a href="{% url 'searchAlbumByName' %} ">Search Album</a></li>-->
<!--</h3>-->
<!--<br>-->

<!--<h3 style="text-align:center">-->
<!--    <li><a href="{% url 'searchSongByName' %} ">Search Song</a></li>-->
<!--</h3>-->
<!--<br>-->

</body>
</html>
