{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'xiamiu/style.css' %}">

<html>
<head>
    <meta http-equiv="Content-Type"content="text/html"/>
    <title>Search</title>
</head>
</br>
</br>
</br>
</br>
<body>

    <div class="column">
        <form action="{% url 'searchArtistByName' %}" method="POST">

            {% csrf_token %}

            Artist Name: <input type="text" name="artistQuery"/><br/>

            <input type="submit" value="Post"/>
        </form>

        <li><a href="{% url 'home' %}">Back to Home</a></li>

        {% if artistRes %}
        <div class="artistBlock_list ">
            <ul>
                {% for each in artistRes %}
                <li class="hor-list-item">
                    <div class="artist_item100_block">
                        <p class="buddy"><a target="_blank" class="artist100" href="{% url 'showArtistPage' inputID=each.artistID %}" title=""> <img src="{{ each.picAddress }}" width="100" height="100" alt="" /></a></p>
                        <p class="name">
                            <a class="title" target="_blank" href="{% url 'showArtistPage' inputID=each.artistID %}" title={{each.artistName}}>{{each.artistName}}</a>
                            <span class="singer_region" title="">{{each.artistReign}}</span>
                        </p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        {% else %}
            <p>There is no such an artist in our database.</p>
        {% endif %}
    </div>

    <div class="column">
        <form action="{% url 'searchAlbumByName' %}" method="POST">

            {% csrf_token %}

            Album Name: <input type="text" name="albumQuery"/><br/>

            <input type="submit" value="Post"/>
        </form>

        <style>
        .album_item100_block .album_rank{position:relative;height:12px;margin:10px 0 10px 5px;padding-left:50px;color:#999;background:url('//img.xiami.net/res/v3/img/star4_v3.png') no-repeat 0 2px;vertical-align:middle;}
        .album_item100_block .album_rank span{position:absolute;height:12px;left:0;top:0;background:url('//img.xiami.net/res/v3/img/star4_v3.png') no-repeat 0 -8px;text-indent:-9999px;}
        .album_item100_block .album_rank em{float:left;margin-left:5px;font:normal 10px tahoma;color:#F60;vertical-align:middle;}
        .album_item100_block .name {height:45px !important;}
        </style>

        {% if albumRes %}

        {% for each in albumRes %}
        <li data-needpay="0" data-playstatus="1" data-downloadstatus="1">
            <div class="album_item100_block">
                <p class="cover"><a class="CDcover100" href="{% url 'showAlbumPage' inputID=each.albumID %}" title={{each.albumName}}>
                <img src="{{ each.picAddress }}" width="100" height="100" alt="" /></a>
                            </p>
                <p class="name">
                    <a href="{% url 'showAlbumPage' inputID=each.albumID %}" title={{each.albumName}}>{{each.albumName}}</a>
                    <a class="singer" href="{% url 'showArtistPage' inputID=each.artistID %}" title={{each.artistName}}>{{each.artistName}}</a>
                                </p>
                <p class="album_rank clearfix"><span style="width:42.5px;"></span><em>{{each.star}}</em></p>
                <p class="year">{{each.releaseDate}}</p>
            </div>
        </li>
        {% endfor %}

        {% else %}
            <p>There is no such an album in our database.</p>
        {% endif %}
    </div>

    <div class="column">
        <form action="{% url 'searchSongByName' %}" method="POST">

            {% csrf_token %}

            Song Name: <input type="text" name="songQuery"/><br/>

            <input type="submit" value="Post"/>
        </form>

        {% if songRes %}
        {% for each in songRes %}
        <li data-needpay="1" data-playstatus="1" data-downloadstatus="1" class=" ">
            <td class="album_cover">
                <a target="_blank" href="{% url 'showAlbumPage' inputID=each.albumID %}" title=""><img src="{{ each.picAddress }}" width="100" height="100" alt="" /></a>
            </td>
            <td class="song_name">
                <a target="_blank" href="{% url 'showSongPage' inputID=each.songID %}" title={{each.songName}}>{{each.songName}}</a>
            </td>
            <td class="song_artist">
                <a target="_blank" href="{% url 'showArtistPage' inputID=each.artistID %}" title={{each.artistName}}>{{each.artistName}}</a>
            </td>
            <td class="song_album">
                <a target="_blank" href="{% url 'showAlbumPage' inputID=each.albumID %}" title={{each.albumName}}>{{each.albumName}}</a></td>
            </td>
        </li>
        {% endfor %}

        {% else %}
            <p>There is no such a song in our database.</p>
        {% endif %}
    </div>

</body>
</html>